.footer {
  /* background-color: rgba(51, 51, 51, 0.26); */
  color: #1a1a40;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  height: 7vh;
  margin: 0;
}

.footer-text {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #1a1a40;
}

/* smaller devices */
@media only screen and (max-width: 1000px) {
  .footer {
    display: none;
  }
}
