.navbar {
  color: #1a1a40;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 7vh;
}

.btn-login {
  position: absolute;
  right: 1.5vw;
  top: 1vh;
}

.logo {
  position: absolute;
  left: 1.5vw;
  top: 1vh;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2rem;
  padding: 0 10px 0 11px;
  width: 8rem;
  color: #035397;
  cursor: pointer;
}
