app-background-img {
  position: relative;
}

main {
  position: absolute;
  top: 6rem;
  left: 8rem;
  font-size: 2rem;
}

/* smaller devices */
@media only screen and (max-width: 1000px) {
  main {
    position: absolute;
    top: 10vh;
    left: 1vw;
    /* font-size: 2rem; */
  }
}

.chooseText {
  text-align: center;
}

.plain {
  margin: 0.5vw 0.5vh;
  width: 30vw;
  height: auto;
  padding: 1vw 0.5vh;

  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
}

/* input */

input {
  text-align: center;

  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;

  width: 6.25rem;
}

/* smaller devices */
@media only screen and (max-width: 1000px) {
  input {
    width: 80vw;
  }
}

.label {
  font-size: 1.2rem;
}

/* grid */

.passengersQuantity {
  width: 60.5vw;
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.2fr 1fr 1fr;
  justify-items: center;
}

.selectPassengers {
  grid-column: 2 / span 1;
  grid-row: 1;
  margin: 0.2rem;
}

.labelSelectPassengersPerson {
  grid-column: 1 / span 1;
  grid-row: 2;
  margin: 0.2rem;
}

#selectPassengersPerson {
  grid-column: 1 / span 1;
  grid-row: 3;
  margin: 0.2rem;
}

.labelSelectPassengersBaby {
  grid-column: 2 / span 1;
  grid-row: 2;
  margin: 0.2rem;
}

#selectPassengersBaby {
  grid-column: 2 / span 1;
  grid-row: 3;
  margin: 0.2rem;
}

.labelSelectPassengersChild {
  grid-column: 3 / span 1;
  grid-row: 2;
  margin: 0.2rem;
}

#selectPassengersChild {
  grid-column: 3 / span 1;
  grid-row: 3;
  margin: 0.2rem;
}

.btnSearch {
  grid-column: 2 / span 1;
  grid-row: 4;
  margin: 0.2rem;
  width: 25rem;
  margin-top: 2rem;
}

/* smaller devices grid */
@media only screen and (max-width: 1000px) {
  .chooseData {
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 15vh 15vh 10vh;
    text-align: center;
  }

  .chooseText {
    grid-row: 1;

    width: 95vw;
    margin: 1vh 0;
  }
  .selectOrigin {
    grid-row: 2;
    width: 95vw;
  }
  .selectDestination {
    grid-row: 3;
    width: 95vw;
  }
  .selectDeparture {
    grid-row: 4;
    width: 95vw;
  }
  .selectReturn {
    grid-row: 5;
    width: 95vw;
  }

  input {
    display: block;
  }

  .passengersQuantity {
    grid-row: 6;
    width: 95vw;
    height: 45vh;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .selectPassengers {
    grid-row: 1;
    grid-column: 1;
  }
  .labelSelectPassengersPerson {
    grid-row: 2;
    grid-column: 1;
  }
  #selectPassengersPerson {
    grid-row: 3;
    grid-column: 1;
  }
  .labelSelectPassengersBaby {
    grid-row: 4;
    grid-column: 1;
  }
  #selectPassengersBaby {
    grid-row: 5;
    grid-column: 1;
  }
  .labelSelectPassengersChild {
    grid-row: 6;
    grid-column: 1;
  }
  #selectPassengersChild {
    grid-row: 7;
    grid-column: 1;
  }
  .btnSearch {
    grid-row: 8;
    grid-column: 1;
    width: 80vw;
    margin-top: 2vh;
  }
}

/* show on click  */

.showOriginClass {
  position: absolute;
  top: 6.5rem;

  width: 32vw;
  height: 60vh;

  overflow: hidden;
  overflow-y: scroll;

  z-index: 5;
}

@media only screen and (max-width: 1000px) {
  .showOriginClass {
    width: 100vw;
    height: 50vh;
  }
}

.showDestinationClass {
  position: absolute;
  top: 6.5rem;
  right: 0.5rem;

  width: 32vw;
  height: 60vh;

  overflow: hidden;
  overflow-y: scroll;

  z-index: 5;
}

@media only screen and (max-width: 1000px) {
  .showDestinationClass {
    width: 100vw;
    height: 50vh;
  }
}

.noOpacity {
  opacity: 0.3;
}

/* date */

.selectDate {
  height: 3rem;
  text-align: center;
  margin-left: 1rem;
  border: 0;
  box-shadow: none;
  font-size: 2rem;
  width: auto;
}

@media only screen and (max-width: 1000px) {
  .selectDate {
    width: 80vw;
  }
}
