app-background-img {
  position: relative;
}

main {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 2rem;
}

/* smaller devices */
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 5vh;
  }
}
