ul {
  list-style-type: none;
}

.plane {
  position: absolute;
  height: 100%;
  top: 6rem;
  left: 20rem;
  font-size: 2rem;
  display: block;
}

/* smaller devices grid */
@media only screen and (max-width: 1000px) {
  .plane {
    top: 40vh;
    left: 0;
  }
}

.plain {
  margin: 0.5vw 0.5vh;
  width: auto;
  padding: 1vw 0.5vh;

  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
}

/* smaller devices grid */
@media only screen and (max-width: 1000px) {
  .plain {
    margin: 0;
    padding: 0;
  }
}

.chosenData {
  position: absolute;
  top: 8vh;
  right: 10vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* smaller devices grid */
@media only screen and (max-width: 1000px) {
  .chosenData {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 0;
    margin: 0 1vw;
    width: 90vw;
    height: auto;
  }
}

.labels {
  grid-column: 1;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.btn {
  grid-column: 2;
  justify-self: center;
}

.origin {
  grid-row: 1;
}
.destination {
  grid-row: 2;
}
.adults {
  grid-row: 3;
}
.infants {
  grid-row: 4;
}
.children {
  grid-row: 5;
}
.selectedSeats {
  grid-row: 6;
}

.data {
  grid-column: 2;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.originData {
  grid-row: 1;
}
.destinationData {
  grid-row: 2;
}
.adultsData {
  grid-row: 3;
}
.infantsData {
  grid-row: 4;
}
.childrenData {
  grid-row: 5;
}
.selectedSeatsData {
  grid-row: 6;
}

/* test */

.clicked {
  fill: #6bcf43;
}

/* svg */
.fil10 {
  fill: #2db4d0;
}
.fil8 {
  fill: #bdbdbd;
}
.fil0 {
  fill: black;
  fill-rule: nonzero;
}
.fil9 {
  fill: #333333;
  fill-rule: nonzero;
}
.fil7 {
  fill: #bdbdbd;
  fill-rule: nonzero;
}
.fil3 {
  fill: #d33d38;
  fill-rule: nonzero;
}
.fil6 {
  fill: #e5e5e5;
  fill-rule: nonzero;
}
.fil1 {
  fill: #f3f3f3;
  fill-rule: nonzero;
}
.fil4 {
  fill: #f7f3e4;
  fill-rule: nonzero;
}
.fil2 {
  fill: white;
  fill-rule: nonzero;
}
.fil5 {
  fill: #f8f4e6;
  fill-rule: nonzero;
}
