ul {
  list-style-type: none;
}

.plane {
  position: absolute;
  top: 6rem;
  left: 20rem;
  font-size: 2rem;
}

/* smaller devices grid */
@media only screen and (max-width: 700px) {
  .plane {
    top: 40vh;
    left: 0;
  }
}

.plain {
  margin: 0.5vw 0.5vh;
  width: auto;
  padding: 1vw 0.5vh;

  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
}

/* smaller devices grid */
@media only screen and (max-width: 700px) {
  .plain {
    margin: 0;
    padding: 0;
  }
}

.chosenData {
  position: absolute;
  top: 8vh;
  right: 10vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* smaller devices grid */
@media only screen and (max-width: 700px) {
  .chosenData {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 0;
    margin: 0 1vw;
    width: 90vw;
    height: auto;
  }
}

.labels {
  grid-column: 1;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.btn {
  grid-column: 2;
  justify-self: center;
}

.origin {
  grid-row: 1;
}
.destination {
  grid-row: 2;
}
.adults {
  grid-row: 3;
}
.infants {
  grid-row: 4;
}
.children {
  grid-row: 5;
}
.selectedSeats {
  grid-row: 6;
}

.data {
  grid-column: 2;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.originData {
  grid-row: 1;
}
.destinationData {
  grid-row: 2;
}
.adultsData {
  grid-row: 3;
}
.infantsData {
  grid-row: 4;
}
.childrenData {
  grid-row: 5;
}
.selectedSeatsData {
  grid-row: 6;
}

/* test */

/* .clicked {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
} */

/* svg */
.st0 {
  clip-path: url(#SVGID_38_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #f3f3f3;
}
.st1 {
  clip-path: url(#SVGID_40_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #f3f3f3;
}
.st2 {
  clip-path: url(#SVGID_44_);
}
.st3 {
  clip-path: url(#SVGID_45_);
}
.st4 {
  clip-path: url(#SVGID_46_);
  fill: #f3f3f3;
}
.st5 {
  clip-path: url(#SVGID_49_);
}
.st6 {
  clip-path: url(#SVGID_50_);
  fill: #ffffff;
}
.st7 {
  fill: #ffffff;
}
.st8 {
  fill: #424242;
}
.st9 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}
.st10 {
  fill: #e5e5e5;
}
.st11 {
  opacity: 0.36;
}
.st12 {
  fill: #333333;
}
.st13 {
  fill: #bdbdbd;
}
.st14 {
  fill: #f3f3f3;
}
.st15 {
  fill: none;
  stroke: #f3f3f3;
  stroke-width: 0.6126;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st16 {
  fill: #ffffff;
  stroke: #bdbdbd;
  stroke-width: 0.4594;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st17 {
  fill: #ffffff;
  stroke: #bdbdbd;
  stroke-width: 0.4594;
  stroke-miterlimit: 10;
}
.st18 {
  fill: #cfcfcf;
}
.st19 {
  fill: none;
  stroke: #bdbdbd;
  stroke-width: 0.3092;
  stroke-miterlimit: 10;
}
.st20 {
  fill: #ffcc00;
}
.st21 {
  fill: #e2a62a;
}
.st22 {
  fill: #e26154;
}
.st23 {
  fill: #c14437;
}
.st24 {
  fill: none;
  stroke: #e2a62a;
  stroke-width: 0.4228;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st25 {
  fill: none;
  stroke: #e2a62a;
  stroke-width: 0.4228;
  stroke-miterlimit: 10;
}
.st26 {
  fill: none;
  stroke: #bdbdbd;
  stroke-width: 0.3087;
  stroke-miterlimit: 10;
}
.st27 {
  fill: #2dd086;
}
.st28 {
  fill: #29ab70;
}
.st29 {
  fill: none;
  stroke: #29ab70;
  stroke-width: 0.3087;
  stroke-miterlimit: 10;
}
.st30 {
  fill: none;
  stroke: #e2a62a;
  stroke-width: 0.3086;
  stroke-miterlimit: 10;
}
.st31 {
  fill: none;
  stroke: #bdbdbd;
  stroke-width: 0.4211;
  stroke-miterlimit: 10;
}
.st32 {
  fill: none;
  stroke: #e2a62a;
  stroke-width: 0.3087;
  stroke-miterlimit: 10;
}
.st33 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2db4d0;
}
.st34 {
  clip-path: url(#SVGID_55_);
}
.st35 {
  clip-path: url(#SVGID_56_);
  fill: #ffffff;
}
.st36 {
  clip-path: url(#SVGID_59_);
}
.st37 {
  clip-path: url(#SVGID_60_);
  fill: #ffffff;
}
.st38 {
  clip-path: url(#SVGID_63_);
}
.st39 {
  clip-path: url(#SVGID_64_);
  fill: #ffffff;
}
.st40 {
  clip-path: url(#SVGID_67_);
}
.st41 {
  clip-path: url(#SVGID_68_);
  fill: #ffffff;
}
.st42 {
  clip-path: url(#SVGID_71_);
}
.st43 {
  clip-path: url(#SVGID_72_);
  fill: #ffffff;
}
.st44 {
  clip-path: url(#SVGID_75_);
}
.st45 {
  clip-path: url(#SVGID_76_);
  fill: #ffffff;
}
.st46 {
  clip-path: url(#SVGID_79_);
}
.st47 {
  clip-path: url(#SVGID_80_);
  fill: #ffffff;
}
.st48 {
  clip-path: url(#SVGID_84_);
}
.st49 {
  clip-path: url(#SVGID_85_);
  fill: #ffffff;
}
.st50 {
  clip-path: url(#SVGID_88_);
}
.st51 {
  clip-path: url(#SVGID_89_);
  fill: #ffffff;
}
.st52 {
  clip-path: url(#SVGID_92_);
}
.st53 {
  clip-path: url(#SVGID_93_);
  fill: #ffffff;
}
.st54 {
  clip-path: url(#SVGID_96_);
}
.st55 {
  clip-path: url(#SVGID_97_);
  fill: #ffffff;
}
.st56 {
  clip-path: url(#SVGID_100_);
}
.st57 {
  clip-path: url(#SVGID_101_);
  fill: #ffffff;
}
.st58 {
  clip-path: url(#SVGID_104_);
}
.st59 {
  clip-path: url(#SVGID_105_);
  fill: #ffffff;
}
.st60 {
  clip-path: url(#SVGID_107_);
  fill: #ffffff;
}
.st61 {
  fill: #2db4d0;
}
.st62 {
  clip-path: url(#SVGID_112_);
}
.st63 {
  clip-path: url(#SVGID_113_);
  fill: #ffffff;
}
.st64 {
  clip-path: url(#SVGID_118_);
}
.st65 {
  clip-path: url(#SVGID_119_);
  fill: #ffffff;
}
.st66 {
  clip-path: url(#SVGID_121_);
  fill: #ffffff;
}
.st67 {
  clip-path: url(#SVGID_126_);
}
.st68 {
  clip-path: url(#SVGID_127_);
  fill: #ffffff;
}
.st69 {
  clip-path: url(#SVGID_132_);
}
.st70 {
  clip-path: url(#SVGID_133_);
  fill: #ffffff;
}
.st71 {
  clip-path: url(#SVGID_135_);
  fill: #ffffff;
}
.st72 {
  clip-path: url(#SVGID_140_);
}
.st73 {
  clip-path: url(#SVGID_141_);
  fill: #ffffff;
}
.st74 {
  clip-path: url(#SVGID_144_);
}
.st75 {
  clip-path: url(#SVGID_145_);
  fill: #ffffff;
}
.st76 {
  clip-path: url(#SVGID_148_);
}
.st77 {
  clip-path: url(#SVGID_149_);
  fill: #ffffff;
}
.st78 {
  clip-path: url(#SVGID_152_);
}
.st79 {
  clip-path: url(#SVGID_153_);
  fill: #ffffff;
}
.st80 {
  clip-path: url(#SVGID_156_);
}
.st81 {
  clip-path: url(#SVGID_157_);
  fill: #ffffff;
}
.st82 {
  clip-path: url(#SVGID_160_);
}
.st83 {
  clip-path: url(#SVGID_161_);
  fill: #ffffff;
}
.st84 {
  clip-path: url(#SVGID_164_);
}
.st85 {
  clip-path: url(#SVGID_165_);
  fill: #ffffff;
}
.st86 {
  clip-path: url(#SVGID_168_);
}
.st87 {
  clip-path: url(#SVGID_169_);
  fill: #ffffff;
}
.st88 {
  clip-path: url(#SVGID_172_);
}
.st89 {
  clip-path: url(#SVGID_173_);
  fill: #ffffff;
}
.st90 {
  clip-path: url(#SVGID_176_);
}
.st91 {
  clip-path: url(#SVGID_177_);
  fill: #ffffff;
}
.st92 {
  clip-path: url(#SVGID_180_);
}
.st93 {
  clip-path: url(#SVGID_181_);
  fill: #ffffff;
}
.st94 {
  clip-path: url(#SVGID_184_);
}
.st95 {
  clip-path: url(#SVGID_185_);
  fill: #ffffff;
}
.st96 {
  clip-path: url(#SVGID_188_);
}
.st97 {
  clip-path: url(#SVGID_189_);
  fill: #ffffff;
}
.st98 {
  clip-path: url(#SVGID_191_);
  fill: #ffffff;
}
.st99 {
  clip-path: url(#SVGID_196_);
}
.st100 {
  clip-path: url(#SVGID_197_);
  fill: #ffffff;
}
.st101 {
  clip-path: url(#SVGID_200_);
}
.st102 {
  clip-path: url(#SVGID_201_);
  fill: #ffffff;
}
.st103 {
  clip-path: url(#SVGID_204_);
}
.st104 {
  clip-path: url(#SVGID_205_);
  fill: #ffffff;
}
.st105 {
  clip-path: url(#SVGID_208_);
}
.st106 {
  clip-path: url(#SVGID_209_);
  fill: #ffffff;
}
.st107 {
  clip-path: url(#SVGID_212_);
}
.st108 {
  clip-path: url(#SVGID_213_);
  fill: #ffffff;
}
.st109 {
  clip-path: url(#SVGID_216_);
}
.st110 {
  clip-path: url(#SVGID_217_);
  fill: #ffffff;
}
.st111 {
  clip-path: url(#SVGID_220_);
}
.st112 {
  clip-path: url(#SVGID_221_);
  fill: #ffffff;
}
.st113 {
  clip-path: url(#SVGID_224_);
}
.st114 {
  clip-path: url(#SVGID_225_);
  fill: #ffffff;
}
.st115 {
  clip-path: url(#SVGID_228_);
}
.st116 {
  clip-path: url(#SVGID_229_);
  fill: #ffffff;
}
.st117 {
  clip-path: url(#SVGID_232_);
}
.st118 {
  clip-path: url(#SVGID_233_);
  fill: #ffffff;
}
.st119 {
  clip-path: url(#SVGID_236_);
}
.st120 {
  clip-path: url(#SVGID_237_);
  fill: #ffffff;
}
.st121 {
  clip-path: url(#SVGID_240_);
}
.st122 {
  clip-path: url(#SVGID_241_);
  fill: #ffffff;
}
.st123 {
  clip-path: url(#SVGID_244_);
}
.st124 {
  clip-path: url(#SVGID_245_);
  fill: #ffffff;
}
.st125 {
  clip-path: url(#SVGID_247_);
  fill: #ffffff;
}
.st126 {
  clip-path: url(#SVGID_254_);
}
.st127 {
  clip-path: url(#SVGID_255_);
  fill: #ffffff;
}
.st128 {
  clip-path: url(#SVGID_258_);
}
.st129 {
  clip-path: url(#SVGID_259_);
  fill: #ffffff;
}
.st130 {
  clip-path: url(#SVGID_262_);
}
.st131 {
  clip-path: url(#SVGID_263_);
  fill: #ffffff;
}
.st132 {
  clip-path: url(#SVGID_266_);
}
.st133 {
  clip-path: url(#SVGID_267_);
  fill: #ffffff;
}
.st134 {
  clip-path: url(#SVGID_270_);
}
.st135 {
  clip-path: url(#SVGID_271_);
  fill: #ffffff;
}
.st136 {
  clip-path: url(#SVGID_274_);
}
.st137 {
  clip-path: url(#SVGID_275_);
  fill: #ffffff;
}
.st138 {
  clip-path: url(#SVGID_278_);
}
.st139 {
  clip-path: url(#SVGID_279_);
  fill: #ffffff;
}
.st140 {
  clip-path: url(#SVGID_282_);
}
.st141 {
  clip-path: url(#SVGID_283_);
  fill: #ffffff;
}
.st142 {
  clip-path: url(#SVGID_286_);
}
.st143 {
  clip-path: url(#SVGID_287_);
  fill: #ffffff;
}
.st144 {
  clip-path: url(#SVGID_290_);
}
.st145 {
  clip-path: url(#SVGID_291_);
  fill: #ffffff;
}
.st146 {
  clip-path: url(#SVGID_294_);
}
.st147 {
  clip-path: url(#SVGID_295_);
  fill: #ffffff;
}
.st148 {
  clip-path: url(#SVGID_298_);
}
.st149 {
  clip-path: url(#SVGID_299_);
  fill: #ffffff;
}
.st150 {
  clip-path: url(#SVGID_302_);
}
.st151 {
  clip-path: url(#SVGID_303_);
  fill: #ffffff;
}
.st152 {
  clip-path: url(#SVGID_305_);
  fill: #ffffff;
}
.st153 {
  clip-path: url(#SVGID_310_);
}
.st154 {
  clip-path: url(#SVGID_311_);
  fill: #ffffff;
}
.st155 {
  clip-path: url(#SVGID_314_);
}
.st156 {
  clip-path: url(#SVGID_315_);
  fill: #ffffff;
}
.st157 {
  clip-path: url(#SVGID_318_);
}
.st158 {
  clip-path: url(#SVGID_319_);
  fill: #ffffff;
}
.st159 {
  clip-path: url(#SVGID_322_);
}
.st160 {
  clip-path: url(#SVGID_323_);
  fill: #ffffff;
}
.st161 {
  clip-path: url(#SVGID_326_);
}
.st162 {
  clip-path: url(#SVGID_327_);
  fill: #ffffff;
}
.st163 {
  clip-path: url(#SVGID_330_);
}
.st164 {
  clip-path: url(#SVGID_331_);
  fill: #ffffff;
}
.st165 {
  clip-path: url(#SVGID_334_);
}
.st166 {
  clip-path: url(#SVGID_335_);
  fill: #ffffff;
}
.st167 {
  clip-path: url(#SVGID_338_);
}
.st168 {
  clip-path: url(#SVGID_339_);
  fill: #ffffff;
}
.st169 {
  clip-path: url(#SVGID_342_);
}
.st170 {
  clip-path: url(#SVGID_343_);
  fill: #ffffff;
}
.st171 {
  clip-path: url(#SVGID_346_);
}
.st172 {
  clip-path: url(#SVGID_347_);
  fill: #ffffff;
}
.st173 {
  clip-path: url(#SVGID_350_);
}
.st174 {
  clip-path: url(#SVGID_351_);
  fill: #ffffff;
}
.st175 {
  clip-path: url(#SVGID_354_);
}
.st176 {
  clip-path: url(#SVGID_355_);
  fill: #ffffff;
}
.st177 {
  clip-path: url(#SVGID_358_);
}
.st178 {
  clip-path: url(#SVGID_359_);
  fill: #ffffff;
}
.st179 {
  clip-path: url(#SVGID_361_);
  fill: #ffffff;
}
.st180 {
  clip-path: url(#SVGID_366_);
}
.st181 {
  clip-path: url(#SVGID_367_);
  fill: #ffffff;
}
.st182 {
  clip-path: url(#SVGID_370_);
}
.st183 {
  clip-path: url(#SVGID_371_);
  fill: #ffffff;
}
.st184 {
  clip-path: url(#SVGID_374_);
}
.st185 {
  clip-path: url(#SVGID_375_);
  fill: #ffffff;
}
.st186 {
  clip-path: url(#SVGID_378_);
}
.st187 {
  clip-path: url(#SVGID_379_);
  fill: #ffffff;
}
.st188 {
  clip-path: url(#SVGID_382_);
}
.st189 {
  clip-path: url(#SVGID_383_);
  fill: #ffffff;
}
.st190 {
  clip-path: url(#SVGID_386_);
}
.st191 {
  clip-path: url(#SVGID_387_);
  fill: #ffffff;
}
.st192 {
  clip-path: url(#SVGID_390_);
}
.st193 {
  clip-path: url(#SVGID_391_);
  fill: #ffffff;
}
.st194 {
  clip-path: url(#SVGID_394_);
}
.st195 {
  clip-path: url(#SVGID_395_);
  fill: #ffffff;
}
.st196 {
  clip-path: url(#SVGID_398_);
}
.st197 {
  clip-path: url(#SVGID_399_);
  fill: #ffffff;
}
.st198 {
  clip-path: url(#SVGID_402_);
}
.st199 {
  clip-path: url(#SVGID_403_);
  fill: #ffffff;
}
.st200 {
  clip-path: url(#SVGID_406_);
}
.st201 {
  clip-path: url(#SVGID_407_);
  fill: #ffffff;
}
.st202 {
  clip-path: url(#SVGID_410_);
}
.st203 {
  clip-path: url(#SVGID_411_);
  fill: #ffffff;
}
.st204 {
  clip-path: url(#SVGID_414_);
}
.st205 {
  clip-path: url(#SVGID_415_);
  fill: #ffffff;
}
.st206 {
  clip-path: url(#SVGID_417_);
  fill: #ffffff;
}
.st207 {
  clip-path: url(#SVGID_422_);
}
.st208 {
  clip-path: url(#SVGID_423_);
  fill: #ffffff;
}
.st209 {
  clip-path: url(#SVGID_426_);
}
.st210 {
  clip-path: url(#SVGID_427_);
  fill: #ffffff;
}
.st211 {
  clip-path: url(#SVGID_430_);
}
.st212 {
  clip-path: url(#SVGID_431_);
  fill: #ffffff;
}
.st213 {
  clip-path: url(#SVGID_434_);
}
.st214 {
  clip-path: url(#SVGID_435_);
  fill: #ffffff;
}
.st215 {
  clip-path: url(#SVGID_438_);
}
.st216 {
  clip-path: url(#SVGID_439_);
  fill: #ffffff;
}
.st217 {
  clip-path: url(#SVGID_442_);
}
.st218 {
  clip-path: url(#SVGID_443_);
  fill: #ffffff;
}
.st219 {
  clip-path: url(#SVGID_446_);
}
.st220 {
  clip-path: url(#SVGID_447_);
  fill: #ffffff;
}
.st221 {
  clip-path: url(#SVGID_450_);
}
.st222 {
  clip-path: url(#SVGID_451_);
  fill: #ffffff;
}
.st223 {
  clip-path: url(#SVGID_454_);
}
.st224 {
  clip-path: url(#SVGID_455_);
  fill: #ffffff;
}
.st225 {
  clip-path: url(#SVGID_458_);
}
.st226 {
  clip-path: url(#SVGID_459_);
  fill: #ffffff;
}
.st227 {
  clip-path: url(#SVGID_462_);
}
.st228 {
  clip-path: url(#SVGID_463_);
  fill: #ffffff;
}
.st229 {
  clip-path: url(#SVGID_466_);
}
.st230 {
  clip-path: url(#SVGID_467_);
  fill: #ffffff;
}
.st231 {
  clip-path: url(#SVGID_470_);
}
.st232 {
  clip-path: url(#SVGID_471_);
  fill: #ffffff;
}
.st233 {
  clip-path: url(#SVGID_473_);
  fill: #ffffff;
}
.st234 {
  clip-path: url(#SVGID_478_);
}
.st235 {
  clip-path: url(#SVGID_479_);
  fill: #ffffff;
}
.st236 {
  clip-path: url(#SVGID_482_);
}
.st237 {
  clip-path: url(#SVGID_483_);
  fill: #ffffff;
}
.st238 {
  clip-path: url(#SVGID_486_);
}
.st239 {
  clip-path: url(#SVGID_487_);
  fill: #ffffff;
}
.st240 {
  clip-path: url(#SVGID_490_);
}
.st241 {
  clip-path: url(#SVGID_491_);
  fill: #ffffff;
}
.st242 {
  clip-path: url(#SVGID_494_);
}
.st243 {
  clip-path: url(#SVGID_495_);
  fill: #ffffff;
}
.st244 {
  clip-path: url(#SVGID_498_);
}
.st245 {
  clip-path: url(#SVGID_499_);
  fill: #ffffff;
}
.st246 {
  clip-path: url(#SVGID_502_);
}
.st247 {
  clip-path: url(#SVGID_503_);
  fill: #ffffff;
}
.st248 {
  clip-path: url(#SVGID_506_);
}
.st249 {
  clip-path: url(#SVGID_507_);
  fill: #ffffff;
}
.st250 {
  clip-path: url(#SVGID_510_);
}
.st251 {
  clip-path: url(#SVGID_511_);
  fill: #ffffff;
}
.st252 {
  clip-path: url(#SVGID_514_);
}
.st253 {
  clip-path: url(#SVGID_515_);
  fill: #ffffff;
}
.st254 {
  clip-path: url(#SVGID_518_);
}
.st255 {
  clip-path: url(#SVGID_519_);
  fill: #ffffff;
}
.st256 {
  clip-path: url(#SVGID_522_);
}
.st257 {
  clip-path: url(#SVGID_523_);
  fill: #ffffff;
}
.st258 {
  clip-path: url(#SVGID_526_);
}
.st259 {
  clip-path: url(#SVGID_527_);
  fill: #ffffff;
}
.st260 {
  clip-path: url(#SVGID_529_);
  fill: #ffffff;
}
.st261 {
  clip-path: url(#SVGID_534_);
}
.st262 {
  clip-path: url(#SVGID_535_);
  fill: #ffffff;
}
.st263 {
  clip-path: url(#SVGID_538_);
}
.st264 {
  clip-path: url(#SVGID_539_);
  fill: #ffffff;
}
.st265 {
  clip-path: url(#SVGID_542_);
}
.st266 {
  clip-path: url(#SVGID_543_);
  fill: #ffffff;
}
.st267 {
  clip-path: url(#SVGID_546_);
}
.st268 {
  clip-path: url(#SVGID_547_);
  fill: #ffffff;
}
.st269 {
  clip-path: url(#SVGID_550_);
}
.st270 {
  clip-path: url(#SVGID_551_);
  fill: #ffffff;
}
.st271 {
  clip-path: url(#SVGID_554_);
}
.st272 {
  clip-path: url(#SVGID_555_);
  fill: #ffffff;
}
.st273 {
  clip-path: url(#SVGID_558_);
}
.st274 {
  clip-path: url(#SVGID_559_);
  fill: #ffffff;
}
.st275 {
  clip-path: url(#SVGID_562_);
}
.st276 {
  clip-path: url(#SVGID_563_);
  fill: #ffffff;
}
.st277 {
  clip-path: url(#SVGID_566_);
}
.st278 {
  clip-path: url(#SVGID_567_);
  fill: #ffffff;
}
.st279 {
  clip-path: url(#SVGID_570_);
}
.st280 {
  clip-path: url(#SVGID_571_);
  fill: #ffffff;
}
.st281 {
  clip-path: url(#SVGID_574_);
}
.st282 {
  clip-path: url(#SVGID_575_);
  fill: #ffffff;
}
.st283 {
  clip-path: url(#SVGID_578_);
}
.st284 {
  clip-path: url(#SVGID_579_);
  fill: #ffffff;
}
.st285 {
  clip-path: url(#SVGID_582_);
}
.st286 {
  clip-path: url(#SVGID_583_);
  fill: #ffffff;
}
.st287 {
  clip-path: url(#SVGID_585_);
  fill: #ffffff;
}
.st288 {
  clip-path: url(#SVGID_590_);
}
.st289 {
  clip-path: url(#SVGID_591_);
  fill: #ffffff;
}
.st290 {
  clip-path: url(#SVGID_596_);
}
.st291 {
  clip-path: url(#SVGID_597_);
  fill: #ffffff;
}
.st292 {
  clip-path: url(#SVGID_599_);
  fill: #ffffff;
}
.st293 {
  clip-path: url(#SVGID_604_);
}
.st294 {
  clip-path: url(#SVGID_605_);
  fill: #ffffff;
}
.st295 {
  clip-path: url(#SVGID_608_);
}
.st296 {
  clip-path: url(#SVGID_609_);
  fill: #ffffff;
}
.st297 {
  clip-path: url(#SVGID_611_);
  fill: #ffffff;
}
.st298 {
  clip-path: url(#SVGID_616_);
}
.st299 {
  clip-path: url(#SVGID_617_);
  fill: #ffffff;
}
.st300 {
  clip-path: url(#SVGID_620_);
}
.st301 {
  clip-path: url(#SVGID_621_);
  fill: #ffffff;
}
.st302 {
  clip-path: url(#SVGID_623_);
  fill: #ffffff;
}
.st303 {
  clip-path: url(#SVGID_628_);
}
.st304 {
  clip-path: url(#SVGID_629_);
  fill: #ffffff;
}
.st305 {
  clip-path: url(#SVGID_632_);
}
.st306 {
  clip-path: url(#SVGID_633_);
  fill: #ffffff;
}
.st307 {
  clip-path: url(#SVGID_635_);
  fill: #ffffff;
}
.st308 {
  clip-path: url(#SVGID_637_);
  fill: #bdbdbd;
}
.st309 {
  clip-path: url(#SVGID_639_);
  fill: #bdbdbd;
}
.st310 {
  clip-path: url(#SVGID_641_);
  fill: #bdbdbd;
}
.st311 {
  clip-path: url(#SVGID_643_);
  fill: #bdbdbd;
}
.st312 {
  clip-path: url(#SVGID_645_);
  fill: #bdbdbd;
}
.st313 {
  clip-path: url(#SVGID_647_);
  fill: #bdbdbd;
}
.st314 {
  clip-path: url(#SVGID_649_);
  fill: #bdbdbd;
}
.st315 {
  clip-path: url(#SVGID_651_);
  fill: #bdbdbd;
}
.st316 {
  clip-path: url(#SVGID_653_);
  fill: #bdbdbd;
}
.st317 {
  clip-path: url(#SVGID_655_);
  fill: #bdbdbd;
}
.st318 {
  clip-path: url(#SVGID_657_);
  fill: #bdbdbd;
}
.st319 {
  clip-path: url(#SVGID_659_);
  fill: #bdbdbd;
}
.st320 {
  clip-path: url(#SVGID_661_);
  fill: #bdbdbd;
}
.st321 {
  clip-path: url(#SVGID_663_);
  fill: #bdbdbd;
}
.st322 {
  clip-path: url(#SVGID_665_);
  fill: #bdbdbd;
}
.st323 {
  clip-path: url(#SVGID_667_);
  fill: #bdbdbd;
}
/* end svg */
