.background-img {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.background {
  margin: 0;
  padding: 0;
}

/* smaller devices grid */
@media only screen and (max-width: 1000px) {
  .background-img {
    background-repeat: repeat-y;
    height: 125vh;
    width: 100vw;
  }
}
