body {
  color: #1a1a40;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.boldText {
  font-weight: bold;
}

.btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  line-height: 2rem;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 6.25rem;
}

.btn:hover {
  background-color: #f7fafa;
}

.btn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.inline {
  display: inline-block;
}
